.myCard{
  width: 25%;
  min-height: 220px;
  float: left;
  margin: 10px;
}

.JavaScript{
  color: #f1e05a;
}

.TypeScript{
  color: #2b7489;
}

.HTML{
  color: #e34f26;
}

.CSS{
  color: purple;
}



.full-width {
  width: 100%;
}

.newer-date{
  color: pink;
}
